In [1]:
import pandas as pd
import os

1.1 Gathering data

In [2]:
os.chdir('D:\Madeline\Documents\BIRC21\Data science')
Data = pd.read_csv('./training.1600000.processed.noemoticon.csv',header = None,encoding = 'ISO-8859-1')

In [3]:
Data.columns = ['Polarity', 'Tweet_ID','Date','Query_username','Username','Tweet_text']
Data.head()

,Polarity,Tweet_ID,Date,Query_username,Username,Tweet_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
# Besoin d'entrainer sur beaucoup moins de tweets (j'en prends que 10 000 ici, 5000 positifs et 5000 négatifs)! 

Datapos = Data[Data['Polarity']==0]
Dataneg = Data[Data['Polarity']==4]

Data_sub = pd.concat([Datapos.sample(5000),Dataneg.sample(5000)], axis=0)
Data_sub.head()

,Polarity,Tweet_ID,Date,Query_username,Username,Tweet_text
739574,0,2265764621,Sun Jun 21 07:15:48 PDT 2009,NO_QUERY,gixywixypixy,@littleboyblues Sana nga we went there nalang...
485178,0,2181045771,Mon Jun 15 11:17:33 PDT 2009,NO_QUERY,veganwrites,@Lindsey_ I was very bummed to hear Obama did ...
699620,0,2254506626,Sat Jun 20 09:51:19 PDT 2009,NO_QUERY,MichaelaMoose,@Ryanthen :o OMG SRSLY? that's so gay (( i lov...
30470,0,1563772448,Mon Apr 20 00:11:56 PDT 2009,NO_QUERY,shmerin,"@snowwahine We totally missed you, you would'v..."
292482,0,1996011865,Mon Jun 01 14:23:48 PDT 2009,NO_QUERY,liamcrook,yep!... definitely sunburnt!

1.2 Dividing between testing and training data

In [5]:
# On va diviser ce dataset en données d'entrainement et données test. J'ai choisi au hasard une proportion 70/30. 

number_tweets = list(Data.shape)[0]
print('On a',number_tweets, 'tweets au total.')
print(set(Data['Polarity']))

On a 1600000 tweets au total.
{0, 4}

In [6]:
from sklearn.model_selection import train_test_split
Data_train, Data_test = train_test_split(Data_sub, test_size=0.3)

In [7]:
Data_train.head()

,Polarity,Tweet_ID,Date,Query_username,Username,Tweet_text
333998,0,2013467609,Tue Jun 02 22:44:54 PDT 2009,NO_QUERY,djmattyg007,@technicolours fair enough. both her and Beckz...
123563,0,1833932850,Mon May 18 00:59:42 PDT 2009,NO_QUERY,sarihta,Insomniaaaaaaaaaa tomorrow ill see 17 again ya...
1540795,4,2180551079,Mon Jun 15 10:37:25 PDT 2009,NO_QUERY,Larissa_134,"why am I on twitter, I never log on...actually"
908681,4,1750930769,Sat May 09 18:15:46 PDT 2009,NO_QUERY,JeremyCShipp,@rorschachsgirl Yeah--those pants are horrible...
1246933,4,1995427780,Mon Jun 01 13:28:28 PDT 2009,NO_QUERY,shampster,@TBone_SB I've been playing with www.wolframal...

2. Preprocessing

In [8]:
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import warnings
warnings.filterwarnings('ignore')

In [9]:
def prepro(text,i):
    clean=text[i].astype(str).str.replace("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ")
    lowercase=clean.str.lower()
    words=lowercase.apply(word_tokenize)
    stop_words = stopwords.words('english') 
    filtered_words = words.apply(lambda x:[word for word in x if word not in stop_words])
    porter = PorterStemmer()
    text['Tweet_clean']=filtered_words.apply(lambda x:[porter.stem(word) for word in x])
    return text

In [10]:
Data_train_clean=prepro(Data_train,'Tweet_text')
Data_test_clean=prepro(Data_test,'Tweet_text')

In [11]:
Data_train_clean.head()

,Polarity,Tweet_ID,Date,Query_username,Username,Tweet_text,Tweet_clean
333998,0,2013467609,Tue Jun 02 22:44:54 PDT 2009,NO_QUERY,djmattyg007,@technicolours fair enough. both her and Beckz...,"[fair, enough, beckz, hardli, mni, anymor, eit..."
123563,0,1833932850,Mon May 18 00:59:42 PDT 2009,NO_QUERY,sarihta,Insomniaaaaaaaaaa tomorrow ill see 17 again ya...,"[insomniaaaaaaaaaa, tomorrow, ill, see, 17, ya..."
1540795,4,2180551079,Mon Jun 15 10:37:25 PDT 2009,NO_QUERY,Larissa_134,"why am I on twitter, I never log on...actually","[twitter, never, log, actual]"
908681,4,1750930769,Sat May 09 18:15:46 PDT 2009,NO_QUERY,JeremyCShipp,@rorschachsgirl Yeah--those pants are horrible...,"[yeah, pant, horribl, yeah, wife, love, job, l..."
1246933,4,1995427780,Mon Jun 01 13:28:28 PDT 2009,NO_QUERY,shampster,@TBone_SB I've been playing with www.wolframal...,"[sb, play, www, wolframalpha, com, know, answe..."

In [12]:
type(Data_train_clean.iloc[0][6])

list

In [13]:
dfJoeBiden = pd.read_csv('./hashtag_joebiden.csv', delimiter=',')
dfDonaldTrump = pd.read_csv('./hashtag_donaldtrump.csv', delimiter=',', engine = 'python')

In [14]:
dfJoeBiden.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529221557252e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,360666534.0,El Sol Latino News,elsollatinonews,🌐 Noticias de interés para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.7743,-80.1937,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:18,1.31652929585929e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,809904438.0,Cheri A. 🇺🇸,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283
2,2020-10-15 00:00:20,1.3165293050069524e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3494182277.0,Flag Waver,Flag_Wavers,NaN,...,1536.0,Golden Valley Arizona,46.304,-109.171,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566
3,2020-10-15 00:00:21,1.3165293080815575e+18,@chrislongview Watching and setting dvr. Let’s...,0.0,0.0,Twitter for iPhone,8.242596012018524e+17,Michelle Ferg,MichelleFerg4,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849
4,2020-10-15 00:00:22,1.316529312741253e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032806955356545e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.7015,-118.756,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132

In [15]:
JoeBiden_clean=prepro(dfJoeBiden,'tweet')
DonaldTrump_clean=prepro(dfDonaldTrump,'tweet')

In [16]:
DonaldTrump_clean['Tweet_clean'].head()

0    [elecciones2020, en, florida, joebiden, dice, ...
1    [usa, 2020, trump, contro, facebook, e, twitte...
2    [trump, student, use, hear, year, ten, year, h...
3    [2, hour, sinc, last, tweet, trump, mayb, busi...
4             [get, tie, get, tie, trump, ralli, iowa]
Name: Tweet_clean, dtype: object